{
  "presets": ["@babel/preset-env", "@babel/preset-react", "minify"],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "component/*": "./src/components/*",
          "utils/*": "./src/utils/*",
          "icons/*": "./src/icons/*"
        }
      }
    ]
  ]
}
